# snakemake files
.snakemake
resources
results

# slurm byproducts
cluster_logs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# slurmy things
slurm*

# gitlab runner waste materials
builds
